.search-product-container {
    background-image: url(images/searchProductBackgroundImage.jpg);
    height: 25rem;
    opacity:0.9;
    background-size: cover;
}

.search-product-header {
    color: black;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 2rem;
}

.search-product-input-field {
    margin-left: 13%;
}